streamlit
fastapi
uvicorn
bcrypt
aiohttp
aiofiles
python-multipart
pydantic
python-dotenv
openai==0.28.0
google-generativeai
transformers
sentence-transformers
faiss-cpu
ollama
tensorboard
tinyaes
pandas
pytesseract
numpy
scikit-image
shapely
pyclipper
imgaug
tqdm
openpyxl
PyMuPDF
python-docx
pdfplumber
pillow
reportlab
pdf2image
matplotlib
plotly
fpdf2
reportlab
requests
torch 
torchvision 
torchaudio 
ultralytics
opencv-python-headless

